{% extends "base.html" %}

{% block content %}

<h2>One-Off Transactions</h2>
<a href="{% url 'oneoff_add' %}" class="btn btn-primary">Add</a>
<br />
{% if oneoff %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Amount</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in oneoff %}
        <tr>
            <td>{{ transaction.name|default:"" }}</td>
            <td>{{ transaction.date }}</td>
            <td>{{ transaction.amount }}</td>
            <td><a href="{% url 'oneoff_edit' pk=transaction.pk %}" class="btn btn-default">Edit</a></td>
            <td><a href="{% url 'oneoff_delete' pk=transaction.pk %}" class="btn btn-danger">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<nav>
    <ul class="pagination">
        {% if oneoff.has_previous %}
        <li><a href="?oneoffpage={{ oneoff.previous_page_number }}&recurringpage={{ recurring.number }}">&laquo;</a></li>
        {% else %}        
        <li class="disabled"><a href="#">&laquo;</a></li>
        {% endif %}
        {% for i in oneoff.paginator.page_range %}
        <li {% if oneoff.number == i %} class="active" {% endif %}><a href="?oneoffpage={{ i }}&recurringpage={{ recurring.number }}">{{ i }}</a></li>
        {% endfor %}
        {% if oneoff.has_next %}
        <li><a href="?oneoffpage={{ oneoff.next_page_number }}&recurringpage={{ recurring.number }}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><a href="#">&raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% else %}
No one-off transactions on account
{% endif %}

<h2>Recurring Transactions</h2>
<a href="{% url 'recurring_add' %}" class="btn btn-primary">Add</a>
<br />
{% if recurring %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Amount</th>
            <th>Frequency</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in recurring %}
        <tr>
            <td>{{ transaction.name|default:"" }}</td>
            <td>{{ transaction.start_date }}</td>
            <td>{{ transaction.end_date|default:"Indefinitely" }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.get_frequency_str|title }}</td>
            <td><a href="{% url 'recurring_edit' pk=transaction.pk %}" class="btn btn-default">Edit</a></td>
            <td><a href="{% url 'recurring_delete' pk=transaction.pk %}" class="btn btn-danger">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<nav>
    <ul class="pagination">
        {% if recurring.has_previous %}
        <li><a href="?oneoffpage={{ oneoff.number }}&recurringpage={{ recurring.previous_page_number }}">&laquo;</a></li>
        {% else %}        
        <li class="disabled"><a href="#">&laquo;</a></li>
        {% endif %}
        {% for i in recurring.paginator.page_range %}
        <li {% if recurring.number == i %} class="active" {% endif %}><a href="?oneoffpage={{ oneoff.number }}&recurringpage={{ i }}">{{ i }}</a></li>
        {% endfor %}
        {% if recurring.has_next %}
        <li><a href="?oneoffpage={{ oneoff.number }}&recurringpage={{ recurring.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><a href="#">&raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% else %}
No recurring transactions on account
{% endif %}

{% endblock %}
