{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<h2>Edit One-Off Transaction</h2>
<div class="row">
    <div class="col-md-4">
        {% bootstrap_messages %}
        <form action="{% url 'oneoff_edit' pk=object.pk %}" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form_errors form type='non_fields' %}
            {% bootstrap_field form.name %}
            {% bootstrap_field form.amount %}
            {% bootstrap_field form.date addon_after='<button class="btn btn-default" id="btn-today" type="button">Today</button>' addon_after_class="input-group-btn" %}
            {% bootstrap_field form.is_salary %}
            {% buttons %}
            <button type="submit" class="btn btn-success">Submit</button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script language="javascript">
    $(document).ready(function() {
        $("#btn-today").click(function() {
            $("#id_date").val(new Date().toLocaleDateString('en-GB'));
        });
    });
</script>
{% endblock %}
