{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<h2>Add New One-Off Transaction</h2>
<div class="row">
    <div class="col-md-4">
        {% bootstrap_messages %}
        <form action="/transactions/oneoff/add" method="post" clas="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-success">Submit</button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}
