{% extends 'base.html' %}
{% load bootstrap3 %}

{% block head %}
<style>
.double-input .form-control {
    width: 50%;
}

.double-input .first .form-control {
    border-right-width: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.double-input .form-control:focus {
    border-right-width: 1px;
}
</style>
{% endblock %}

{% block content %}
<h2>Edit Recurring Transaction</h2>
<div class="row">
    <div class="col-md-4">
        {% bootstrap_messages %}
        <form action="{% url 'recurring_edit' pk=object.pk %}" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form_errors form type='non_fields' %}
            {% bootstrap_field form.name %}
            {% bootstrap_field form.amount %}
            {% bootstrap_field form.start_date addon_after='<button class="btn btn-default" id="btn-startDateToday" type="button">Today</button' addon_after_class="input-group-btn" %}
            {% bootstrap_field form.end_date addon_after='<button class="btn btn-default" id="btn-endDateToday" type="button">Today</button' addon_after_class="input-group-btn" %}
            {% bootstrap_field form.base_period %}
			<div class="form-group">
                <div class="input-group double-input">
                    <div class="input-group-addon">
                        Every
                    </div>
                    {% bootstrap_field form.frequency form_group_class="first" show_label=False %}
                    {% bootstrap_field form.base_period form_group_class="" show_label=False %}
                </div>
            </div>
            {% buttons %}
            <button type="submit" class="btn btn-success">Submit</button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script language="javascript">
    $(document).ready(function() {
        $("#btn-startDateToday").click(function() {
            $("#id_start_date").val(new Date().toLocaleDateString('en-GB'));
        });

        $("#btn-endDateToday").click(function() {
            $("#id_end_date").val(new Date().toLocaleDateString('en-GB'));
        });
    });
</script>
{% endblock %}
